{% extends "layout/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container vh-100">
    <div class="row justify-content-center align-items-center" style="height: 50vh;">
        <div class="col-md-5 my-5 card p-5">
            <form class="password_reset card-body" method="POST" action="{% url 'account_reset_password' %}">
                <h1>{% trans "Password Reset" %}</h1>
                <p>{% trans "Forgotten your password? <br>  your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                     {% csrf_token %}
                    {% bootstrap_form form layout='floating' %}
                   
                    {% bootstrap_button button_type="submit" content="Rest My Password" %}
                    {% if user.is_authenticated %}
                {% endif %}
                {% csrf_token %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
              
            </form>
               {% get_providers as socialaccount_providers %}
            {% if socialaccount_providers %}
           {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block css %}
    <style>
        body{
            background-color: dimgrey;
        }
    </style>
{% endblock css %}